<h1>Pet Applications</h1>
<% if @pet.applications.empty? == false %>
<% @pet.applications.each do |app| %>

<section id="applicant-<%= app.user.id %>">

<%= link_to "#{app.user.name}", "/admin/applications/#{app.id}" %>
</section>
<% end %>

<% else %>
<p>There are no applications for this pet.</p>
<% end %>
