<h1>New Application</h1>
<section class="app-form">
<%= form_tag("/applications/:id") do %>
  <%= label_tag :user_name %>
  <%= text_field_tag :user_name %><br/>

  <%= submit_tag "Submit" %>
<% end %>
</section>
